<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{card?.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Закрыть</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen *ngIf="(currentUser$ | async) as currentUser">

  <ion-grid class="ion-padding-end">
    <ion-row class="ion-justify-content-start ion-align-items-center">
      <ng-container *ngFor="let user of card.users">
        <ion-chip [routerLink]="['/tabs/users', user._id]" (click)="dismiss()">
          <ion-avatar>
            <img [src]="user.avatar" />
          </ion-avatar>
          <ion-label>{{user.fullname}}</ion-label>
          <ion-icon *ngIf="currentUser._id === card.owner && currentUser._id !== user._id" name="close-circle" (click)="removeUserFromCard($event, user)"></ion-icon>
        </ion-chip>
      </ng-container>

      <ion-button size="small" *ngIf="currentUser._id === card?.owner" fill="outline" (click)="addUsersToCard()">Добавить</ion-button>
    </ion-row>
  </ion-grid>

  <ion-item>
    <ion-label position="floating">Добавить заметку</ion-label>
    <ion-textarea rows="3" [(ngModel)]="noteText"></ion-textarea>
  </ion-item>

  <div class="ion-padding">
    <ion-button expand="block" (click)="addNote()" [disabled]="!noteText.length">Добавить</ion-button>
  </div>

  <ion-list *ngIf="card.notes.length">

    <ion-list-header>
      Заметки
    </ion-list-header>

    <ion-item-sliding *ngFor="let note of card.notes">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="note.owner.avatar">
        </ion-avatar>
        <ion-label>
          <p>{{note.createdAt | date: 'short'}}</p>
          <p>{{note.owner.fullname}}</p>
          <h2 class="ion-text-wrap">{{note.name}}</h2>
        </ion-label>

        <ion-note slot="end">
          <ion-button size="small" (click)="toggleIsFavoriteState(note)" fill="clear">
            <ion-icon *ngIf="!note.favorite" name="heart-outline"></ion-icon>
            <ion-icon color="primary" *ngIf="note.favorite" name="heart"></ion-icon>
          </ion-button>
        </ion-note>

      </ion-item>
      <ion-item-options side="end" *ngIf="currentUser._id === note.owner._id">
        <ion-item-option>
          <ion-icon name="pencil-outline" size="large"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteNote($event, note._id)">
          <ion-icon name="trash-outline" size="large"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>

