<ion-header translucent>
    <ion-toolbar>
        <ion-title>Залогировать время</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">Закрыть</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    <form [formGroup]="logTimeForm" novalidate>

        <ion-item>
            <ion-label>Дата:</ion-label>
            <ion-datetime formControlName="date" required placeholder="Выберете дату"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-grid class="ion-no-padding">
                <ion-row class="ion-justify-content-start ion-align-items-center">

                    <ion-col class="ion-no-padding">
                        <ion-input type="number" placeholder="Время" formControlName="workedValue" required></ion-input>
                    </ion-col>

                    <ion-col class="ion-no-padding" size="100px">
                        <ion-select placeholder="Промежуток"
                                    formControlName="workedSuffix"
                                    required
                                    style="max-width: 100%"
                                    okText="Выбрать"
                                    cancelText="Отмена">
                            <ion-select-option
                                    *ngFor="let option of logTimeValues"
                                    [value]="option.value">
                                {{option.viewValue}}
                            </ion-select-option>
                        </ion-select>
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-item>

        <ion-item>
            <ion-grid class="ion-no-padding">
                <ion-row class="ion-justify-content-start ion-align-items-center">

                    <ion-col class="ion-no-padding">
                        <ion-input type="number"
                                   placeholder="Оценка"
                                   formControlName="estimateValue"
                                   required></ion-input>
                    </ion-col>

                    <ion-col class="ion-no-padding" size="100px">
                        <ion-select placeholder="Промежуток"
                                    formControlName="estimateSuffix"
                                    required
                                    style="max-width: 100%"
                                    okText="Выбрать"
                                    cancelText="Отмена">
                            <ion-select-option
                                    *ngFor="let option of logTimeValues"
                                    [value]="option.value">
                                {{option.viewValue}}
                            </ion-select-option>
                        </ion-select>
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-item>

        <div class="ion-padding">
            <ion-button expand="block" (click)="submit()" [disabled]="logTimeForm.invalid">Залогировать время</ion-button>
        </div>

    </form>
</ion-content>

