<div class="autocomplete-wrap">
  <ion-searchbar #searchInput
                 data-cy="users-autocomplete-input"
                 type="text"
                 [placeholder]="placeholder"
                 (ionFocus)="onFocus()"
                 (ionBlur)="onBlur()"
                 (ionInput)="searchUsers($event.target.value)">
  </ion-searchbar>

  <div class="autocomplete-body" *ngIf="searchInputFocused">
    <ion-list>
      <ion-item data-cy="users-autocomplete-item" *ngFor="let user of filteredUsers; let index = index" (click)="selectUser(user)">
        <ion-avatar slot="end">
          <img [src]="user.avatar">
        </ion-avatar>
        <ion-label>{{user.fullname}}</ion-label>
      </ion-item>
    </ion-list>
  </div>

</div>
