<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Авторизация
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form novalidate [formGroup]="loginForm">

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input data-cy="email" id="email" type="email" formControlName="email"></ion-input>
      <ion-text color="danger" *ngIf="email.touched && email.hasError('email')">
        Невірний email
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Пароль</ion-label>
      <ion-input data-cy="password" id="password" type="password" formControlName="password"></ion-input>
    </ion-item>

    <div class="ion-padding">
      <ion-button expand="block" (click)="login()">Логин</ion-button>
     <!-- <button data-cy="submit" (click)="login()" [disabled]="loginForm.invalid">Логин</button>-->
    </div>

    <ion-grid *ngIf="error">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-text class="ion-padding ion-justify-content-center" color="danger">
          {{error.message}}
        </ion-text>
      </ion-row>
    </ion-grid>

    <ion-item>
      <ion-label>
        Все ще незареєстровані? <a class="register-link" [routerLink]="['/auth/register']">Натисніть сюди</a>
      </ion-label>
    </ion-item>
  </form>
</ion-content>
