<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Доски</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="(currentUser$ | async) as currentUser">
  <ion-list *ngIf="isBoardsListLoading">
    <ion-item *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
      <ion-label>
      <p>
        <ion-skeleton-text animated style="width: 35%"></ion-skeleton-text>
      </p>

      <p>
        <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
      </p>
      </ion-label>

    </ion-item>
  </ion-list>

  <ion-refresher slot="fixed" (ionRefresh)="reloadData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="!isBoardsListLoading">
    <ion-item-sliding *ngFor="let board of boards" [routerLink]="[board._id, 'columns']">
      <ion-item>
        <ion-label>
          <h3>{{board.name}}</h3>
          <p>{{board.createdAt | date: 'longDate'}}</p>
        </ion-label>
        <ion-note color="primary" *ngIf="currentUser._id === board.owner" slot="end">
          <ion-icon name="person-outline"></ion-icon>
        </ion-note>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option *ngIf="currentUser._id === board.owner" color="danger" (click)="deleteBoard($event, board._id)">
          <ion-icon name="trash-outline" size="large"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
