<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Пользователи
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar type="text" debounce="500" animated placeholder="Пользователи" (ionInput)="searchUsers($event.target.value)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let user of filteredUsers">
      <ion-avatar slot="end">
        <img [src]="user.avatar">
      </ion-avatar>
      <ion-label>{{user.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
