<ion-header>
  <ion-toolbar>
    <ion-title>Карточки</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
    <ion-reorder>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </ion-reorder>
    <ion-reorder>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle 22</ion-card-subtitle>
          <ion-card-title>Card Title 2</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </ion-reorder>

  </ion-reorder-group>

  <!-- fab placed to the top end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
