<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Пользователи
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid *ngIf="isUsersLoading">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-spinner ></ion-spinner>
    </ion-row>
  </ion-grid>

  <ng-container *ngIf="!isUsersLoading">
    <ion-searchbar type="text" animated placeholder="Пользователи" (ionInput)="searchUsers($event.target.value)"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let user of filteredUsers" [routerLink]="[user._id]">
        <ion-avatar slot="end">
          <img [src]="user.avatar">
        </ion-avatar>
        <ion-label>{{user.fullname}}</ion-label>
      </ion-item>
    </ion-list>
  </ng-container>


</ion-content>
