<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Назад"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-title>{{board?.name}}</ion-title>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="(currentUser$ | async) as currentUser">

  <ng-container *ngIf="isBoardLoading">
    <ion-card *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
      <ion-card-content class="ion-no-padding" style="height: 120px">
        <ion-skeleton-text class="ion-no-margin" animated style="width: 100%;height: 100%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ion-refresher slot="fixed" (ionRefresh)="reloadData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!isBoardLoading">

    <ion-grid class="ion-padding-end">
      <ion-row class="ion-justify-content-start ion-align-items-center">
        <ng-container *ngFor="let user of board.users">
          <ion-chip [routerLink]="['/tabs/users', user._id]">
            <ion-avatar>
              <img [src]="user.avatar" />
            </ion-avatar>
            <ion-label>{{user.fullname}}</ion-label>
            <ion-icon *ngIf="currentUser._id === board.owner && currentUser._id !== user._id" name="close-circle" (click)="removeUserFromBoard($event, user)"></ion-icon>
          </ion-chip>
        </ng-container>

        <ion-button size="small" *ngIf="currentUser._id === board?.owner" (click)="addUsersToBoard()" fill="outline">Пригласить</ion-button>
      </ion-row>
    </ion-grid>

    <ion-card *ngFor="let column of columns" [routerLink]="[column._id]">
      <ion-card-header class="ion-no-padding ion-padding-bottom ion-padding-horizontal">
        <ion-card-subtitle>
          <ion-grid>
            <ion-row class="ion-justify-content-between ion-align-items-center">
              <span>{{column.createdAt | date: 'longDate'}}</span>

              <ion-button class="more-button" size="default" (click)="presentActionSheet($event, column._id)" fill="clear">
                <ion-icon class="more-icon" slot="icon-only" name="ellipsis-vertical"></ion-icon>
              </ion-button>
            </ion-row>
          </ion-grid>
        </ion-card-subtitle>
        <ion-card-title>{{column.name}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{column.cards.length}}
        <span [ngSwitch]="true">
          <ng-container *ngSwitchCase="column.cards.length >= 2 && column.cards.length <= 4">
            карточки
          </ng-container>

          <ng-container *ngSwitchCase="column.cards.length === 1">
            карточка
          </ng-container>

          <ng-container *ngSwitchDefault>
            карточек
          </ng-container>
        </span>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card (click)="createColumn()" *ngIf="!columns.length && board?.type === BoardTypes.Default">
    <ion-card-content>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-icon name="add" size="large"></ion-icon>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-fab *ngIf="board?.type === BoardTypes.Default" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="createColumn()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>


