<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Назад"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-title>{{board?.name}}</ion-title>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card (click)="createColumn()" *ngIf="!columns.length">
    <ion-card-content>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-icon name="add" size="large"></ion-icon>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ng-container *ngIf="isBoardLoading">
    <ion-card *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
      <ion-card-content class="ion-no-padding" style="height: 120px">
        <ion-skeleton-text class="ion-no-margin" animated style="width: 100%;height: 100%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ion-refresher slot="fixed" (ionRefresh)="reloadData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!isBoardLoading">
    <ion-card *ngFor="let column of columns" [routerLink]="[column._id]">
      <ion-card-header class="ion-no-padding ion-padding-bottom ion-padding-horizontal">
        <ion-card-subtitle>
          <ion-grid>
            <ion-row class="ion-justify-content-between ion-align-items-center">
              <span>{{column.createdAt | date: 'longDate'}}</span>

              <ion-button class="more-button" size="default" (click)="presentActionSheet($event, column._id)" fill="clear">
                <ion-icon class="more-icon" slot="icon-only" name="ellipsis-vertical"></ion-icon>
              </ion-button>
            </ion-row>
          </ion-grid>
        </ion-card-subtitle>
        <ion-card-title>{{column.name}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{column.cards.length}}
        <span [ngSwitch]="true">
          <ng-container *ngSwitchCase="column.cards.length >= 2 && column.cards.length <= 4">
            карточки
          </ng-container>

          <ng-container *ngSwitchCase="column.cards.length === 1">
            карточка
          </ng-container>

          <ng-container *ngSwitchDefault>
            карточек
          </ng-container>
        </span>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

<ion-fab vertical="bottom" horizontal="end" *ngIf="(currentUser$ | async) as currentUser">
  <ion-fab-button><ion-icon name="ellipsis-horizontal"></ion-icon></ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button *ngIf="currentUser._id === board?.owner" (click)="addUsersToBoard()">
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="createColumn()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>

</ion-fab>



