<ion-header translucent>
    <ion-toolbar>
        <ion-title>Добавить доску</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">Закрыть</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-item>
        <ion-label position="floating">Имя доски</ion-label>
        <ion-input data-cy="board-name-input" type="text" [(ngModel)]="boardName"></ion-input>
    </ion-item>

  <div class="ion-padding" *ngIf="selectedUsers.length">
    <ion-chip *ngFor="let selectedUser of selectedUsers">
      <ion-avatar>
        <img [src]="selectedUser.avatar">
      </ion-avatar>
      <ion-label>{{selectedUser.fullname}}</ion-label>
      <ion-icon name="close-circle" (click)="removeSelectedUser(selectedUser)"></ion-icon>
    </ion-chip>
  </div>

    <app-users-autocomplete [selectedUsers]="selectedUsers" (userSelected)="onUserSelected($event)"></app-users-autocomplete>

    <div class="ion-padding">
        <ion-button expand="block" (click)="createBoard()" [disabled]="!boardName.length">Создать доску</ion-button>
        <button class="not-visible" data-cy="create-board-submit" (click)="createBoard()" [disabled]="!boardName.length"></button>
    </div>
</ion-content>

