$low-priority-color: #588bff;
$medium-priority-color: #f8ab04;
$high-priority-color: #f75630;

.more-button {
  position: relative;
  left: 20px;

  .more-icon {
    font-size: 24px;
  }
}

.card-item {
  border-bottom: 2px solid transparent;

  .priority-icon {
    padding-right: 12px
  }

  .comments-icon {
    padding-right: 3px
  }

  .comments-count {
     position: relative;
     bottom: 1px;
  }

  &.low {
    border-bottom-color: $low-priority-color;

    .priority-icon {
      color: $low-priority-color;
    }
  }

  &.medium {
    border-bottom-color: $medium-priority-color;

    .priority-icon {
      color: $medium-priority-color;
    }
  }

  &.high {
    border-bottom-color: $high-priority-color;

    .priority-icon {
      color: $high-priority-color;
    }
  }

}

.user-card-avatar-wrap {
  width: 24px;
  height: 24px;
  margin-right: 3px;
}
