<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Назад"></ion-back-button>
    </ion-buttons>
    <ion-title>Карточки</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleReorder()">Сортировать</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card (click)="addCard()" *ngIf="!cards.length">
    <ion-card-content>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-icon name="add" size="large"></ion-icon>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ng-container *ngIf="isCardsLoading">
    <ion-card *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
      <ion-card-content class="ion-no-padding" style="height: 120px">
        <ion-skeleton-text class="ion-no-margin" animated style="width: 100%;height: 100%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ion-refresher slot="fixed" (ionRefresh)="reloadData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <br>

  <ion-reorder-group *ngIf="!isCardsLoading" (ionItemReorder)="doReorder($event)" [disabled]="isReorderDisabled">
    <ion-grid *ngFor="let card of cards">
      <ion-row class="ion-align-items-center">
        <ion-col size="1" *ngIf="!isReorderDisabled">
          <ion-reorder>
            <ion-icon size="large" name="reorder-three-outline"></ion-icon>
          </ion-reorder>
        </ion-col>

        <ion-col>
          <ion-card class="card-item ion-no-margin ion-margin-horizontal {{card.priority}}" (click)="viewCard(card)">

            <ion-card-header class="ion-no-padding ion-padding-bottom ion-padding-horizontal">
              <ion-card-subtitle>
                <ion-grid>
                  <ion-row class="ion-justify-content-between ion-align-items-center">
                    <span>{{card.createdAt | date: 'longDate'}}</span>

                    <ion-button class="more-button" size="default" (click)="presentActionSheet($event, card)" fill="clear">
                      <ion-icon class="more-icon" slot="icon-only" name="ellipsis-vertical"></ion-icon>
                    </ion-button>
                  </ion-row>
                </ion-grid>
              </ion-card-subtitle>
              <ion-card-title>{{card.name}}</ion-card-title>
            </ion-card-header>

            <ion-card-content class="ion-no-padding ion-padding-bottom ion-padding-horizontal">
              <p *ngIf="card.description && card.description.length" class="ion-padding-bottom">{{card.description}}</p>

              <ion-grid class="ion-no-padding">
                <ion-row class="ion-justify-content-between ion-align-items-center">

                  <div class="ion-justify-content-start ion-align-items-center">
                    <ion-icon class="priority-icon" name="arrow-up"></ion-icon>
                    <ion-icon class="comments-icon" name="chatbubble-outline"></ion-icon>
                    <span class="comments-count">{{card.notes.length}}</span>
                  </div>

                  <ion-row class="ion-justify-content-start ion-align-items-center">
                    <ion-avatar class="user-card-avatar-wrap" *ngFor="let user of card.users" [routerLink]="['/tabs/users', user._id]" (click)="$event.stopPropagation()">
                      <img [src]="user.avatar">
                    </ion-avatar>
                  </ion-row>

                </ion-row>
              </ion-grid>

            </ion-card-content>

          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-reorder-group>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="cards.length">
    <ion-fab-button (click)="addCard()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
