<ion-header translucent>
  <ion-toolbar>
    <ion-title>Оценка времени для карточки {{card?.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Закрыть</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <form [formGroup]="estimateTimeForm" novalidate>
    <ion-item>
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-justify-content-start ion-align-items-center">

          <ion-col class="ion-no-padding">
            <ion-input type="number"
                       min="0"
                       placeholder="Значение"
                       formControlName="value"
                       required></ion-input>
          </ion-col>

          <ion-col class="ion-no-padding" size="100px">
            <ion-select placeholder="Промежуток"
                        formControlName="suffix"
                        required
                        style="max-width: 100%"
                        okText="Выбрать"
                        cancelText="Отмена">
              <ion-select-option
                      *ngFor="let option of logTimeValues"
                      [value]="option.value">
                {{option.viewValue}}
              </ion-select-option>
            </ion-select>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-item>

    <div class="ion-padding">
      <ion-button expand="block" (click)="submit()" [disabled]="estimateTimeForm.invalid">Оценить</ion-button>
    </div>

  </form>
</ion-content>

