<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Профиль
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="floating">Полное имя</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <div class="ion-padding">
    <ion-button expand="block">Редактировать</ion-button>
  </div>

  <div class="ion-padding">
    <ion-button expand="block" color="danger" (click)="logout()">Выйти</ion-button>
  </div>

</ion-content>
